/.ansible/galaxy-roles
/.vagrant/

/.git
/.installed.cfg
/ansible.cfg
/bin/
/develop-eggs/
/dist/
/eggs/
/LICENSE-APACHE
/LICENSE-MIT
/README.md
/requirements.yml
/Vagrantfile
/vagrant.yml

*.egg-info/
